thirdparty
thirdparty/*

outputs
outputs/*
pretrained
pretrained/*
evaluation
evaluation/*
evaluation2
evaluation2/*

Deep3DFaceRecon_pytorch
Deep3DFaceRecon_pytorch/*

notebooks/temp
notebooks/temp/*
notebooks/metrics
notebooks/metrics/*

data/BFM09_model_info.mat

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*/__pycache__/*
*.log
*.0
*.ipynb
*/.ipynb_checkpoints/*

